{% extends 'base.html.twig' %}

{% block body %}

    <div class="container ">

        <div class="row">

            <div class="col-md-8">
                <div class="container">
                    <h1>Nos véhicules disponibles</h1>
                    <p class="text-muted mb-5">{{ vehicles|length }} resultats</p>

                    {% for vehicle in vehicles %}
                        <div class="row">
                            <div class="col-md-12">
                                {% include 'components/rentalCarElement.html.twig' with {vehicle : vehicle, rentalService: rentalService, dateStart: dateStart, dateEnd: dateEnd} only %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-4 recap">
                <h1>Ma recherche</h1>
                {{ form_start(form) }}
                <div class="jumbotron p-md-4 mb-3">
                    {{ form_label(form.location, null, {'label_attr': {'class': 'mb-0'}}) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text border-0 bg-white">
                                    <ion-icon name="pin"></ion-icon>
                                </span>
                        </div>
                        {{ form_widget(form.location,  {'attr': {'class': 'custom-select border-0 pl-0 bg-white'}}) }}
                    </div>

                    <label class="mb-0" for="start">Début</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text border-0 bg-white"><ion-icon
                                        name="calendar"></ion-icon></span>
                        </div>
                        {{ form_widget(form.start,  {'attr': {'class': 'form-control js-datepicker bg-white border-0 pl-0'}}) }}

                    </div>


                    <label class="mb-0" for="end">Fin</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text border-0 bg-white"><ion-icon
                                        name="calendar"></ion-icon></span>
                        </div>
                        {{ form_widget(form.end,  {'attr': {'class': 'form-control js-datepicker bg-white border-0 pl-0'}}) }}

                    </div>

                    <label class="mb-0" for="type">Type</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text border-0 bg-white"><ion-icon
                                            name="car"></ion-icon></span>
                        </div>
                        {{ form_widget(form.type,  {'attr': {'class': 'custom-select border-0 pl-0 bg-white'}}) }}

                    </div>
                </div>

                {{ form_widget(form.submit,  {'attr': {'class': 'btn btn-outline-primary btn-block'}}) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
