{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} : Contact
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="mr-5 ml-5">
        <div class="form-row">
            <div class="col-md-6 form-group">
                <label for="object">Objet :</label>
                {{ form_widget(form.subject) }}
            </div>
            <div class="col-md-6 form-group">
                <label for="firstNameContact">Prénom :</label>
                {{ form_widget(form.firstname) }}
            </div>
            <div class="col-md-6 form-group">
                <label for="lastNameContact">Nom :</label>
                {{ form_widget(form.lastname) }}

            </div>
            <div class="col-md-6 form-group">
                <label for="emailContact">Email :</label>
                {{ form_widget(form.email) }}

            </div>
            <div class="col-md-12 form-group">
                <label for="message">Message :</label>
                {{ form_widget(form.message) }}

            </div>
            <div class=" col-md-12 form-group text-center">
                {{ form_widget(form.submit,  {'attr': {'class': 'btn btn-outline-primary '}}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
