{% extends 'pdf/basePDF.html.twig' %}

{% block style %}
    <style>

        h1, h2 {
            color: #000;
        }

        h2 {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        body h2:first-child {
            margin-top: 0;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        table.full {
            width: 100%;
        }

        table.border {
            border-collapse: collapse;
            margin: 1em 0;
        }

        table.border th, table.border td {
            border: solid Silver 1px;
            padding: 0.5em;
        }

        table.firstIsBold tr td:first-child {
            font-weight: 900;
            color: #525154;
        }

        .title {
            color: #f16a12;
        }

        .rentalId {
            text-align: right;
            color: #979699;
        }

        .vehicleImg {
            width: auto;
            height: 100px;
        }

        .vehicleColor {
            width: 100%;
            height: 1rem;
        }
    </style>

{% endblock %}

{% block body %}
    <table class="full">
        <tr>
            <td>
                <h1 class="title">Contrat de location provisoire</h1>
            </td>
            <td>
                <h3 class="rentalId">#{{ rental.id }}</h3>
            </td>
        </tr>
    </table>

    <h2>Vous :</h2>
    <table class="firstIsBold">
        <tr>
            <td>Prénom :</td>
            <td>{{ rental.client.firstname }}</td>
        </tr>
        <tr>
            <td>Nom :</td>
            <td>{{ rental.client.lastname }}</td>
        </tr>
        <tr>
            <td>Adresse :</td>
            <td>{{ rental.client.address }}, {{ rental.client.city }} {{ rental.client.zipcode }}</td>
        </tr>
    </table>

    <h2>Le véhicule</h2>
    <table class="full">
        <tr>
            <td>
                <table class=" firstIsBold">
                    <tr>
                        <td>
                            Marque :
                        </td>
                        <td>
                            {{ rental.vehicle.brand }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Modèle :
                        </td>
                        <td>
                            {{ rental.vehicle.model }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Couleur :
                        </td>
                        <td>
                            <div class="vehicleColor" style="background-color: {{ rental.vehicle.color }};"></div>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 100px">
                <img src="./assets/img/tesla.png" class="vehicleImg">
            </td>
        </tr>
    </table>

    <h2>Location</h2>
    <table class=" firstIsBold">
        <tr>
            <td>
                Début de la location :
            </td>
            <td>
                {{ rental.startRentalDate|date('d/m/Y') }}
            </td>
        </tr>
        <tr>
            <td>
                Fin de la location :
            </td>
            <td>
                {{ rental.estimatedReturnDate|date('d/m/Y') }}
            </td>
        </tr>
        <tr>
            <td>
                Nombre de jour :
            </td>
            <td>
                {{ rental.getEstimatedRentalDuration }} jour(s)

            </td>
        </tr>
    </table>

    <h2>Prix</h2>
    <table class="full border">
        <tr>
            <th>Intitulé</th>
            <th class="text-center">Gain</th>
            <th class="text-center">Dépense</th>
        </tr>
        <tr>
            <td>Location du véhicule ({{ rental.vehicle.dailyPrice }}€/jour)</td>
            <td class="text-center"></td>
            <td class="text-center">{{ rentalService.getPrice(rental.vehicle, rental.getEstimatedRentalDuration) }}€
            </td>
        </tr>
        <tr>
            <td>Remise location {{ rental.getEstimatedRentalDuration < 180? 'courte' : 'longue' }} durée</td>
            <td class="text-center">{{ rentalService.getPrice(rental.vehicle, rental.getEstimatedRentalDuration) - rentalService.getPriceWithPromotion(rental.vehicle, rental.getEstimatedRentalDuration) }}
                €
            </td>
            <td class="text-center"></td>
        </tr>
        <tr>
            <td class="text-right"><b>Total à payer</b></td>
            <td colspan="2"
                class="text-center">{{ rentalService.getPriceWithPromotion(rental.vehicle, rental.getEstimatedRentalDuration) }}
                €
            </td>
        </tr>
    </table>



{% endblock %}