<div class="container mt-4 mb-4">
    <nav class="navbarComponnent navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('assets/img/logo/eMotion.svg') }}"
                 width="120px" height="auto"
                 class="d-inline-block align-top"
                 alt="logo eMotion">
        </a>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse"
             id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-item nav-link" href='{{ path('services') }}'>Services</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href='{{ path('contact') }}'>Contact</a>
                </li>

                {% if is_granted('ROLE_EMPLOYEE') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Back Office
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('bo__user__list') }}">Users</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('bo__vehicle__list') }}">Vehicles</a>
                        </div>
                    </li>
                {% endif %}

                <li>
                {% if is_granted('ROLE_USER') %}
                    <a class="nav-item nav-link" href='{{ path('logout') }}'>Déconnexion</a>
                {% else %}
                    <a class="nav-item nav-link" href='{{ path('login') }}'>Connexion</a>
                {% endif %}
                </li>
            </ul>
        </div>

    </nav>
</div>
