<div class="car_view jumbotron p-md-3">
    <div class="car_photo">
        <img src="{{ asset('assets/img/tesla.png') }}"
             alt="image de la voiture">
    </div>

    <div class="car_data">
        <div>
            <p class="car_view__brand">{{ vehicle.brand }}</p>
            <p class="car_view__model">{{ vehicle.model }}</p>
        </div>
        <table class="car_details">
            <tr>
                <td>couleur</td>
                <td><span class="pill" style="background-color: {{ vehicle.color }};"></span></td>
            </tr>
            <tr>
                <td>autonomie</td>
                <td>{{ vehicle.autonomy }} km</td>
            </tr>
        </table>
    </div>
    <div class="car_price">

        <div class="price">
            <span class="price__old">{{ rentalService.getPriceForDate(vehicle, dateStart, dateEnd) }}€</span>
            <span class="price__current">{{ rentalService.getPriceFinalPrice(vehicle, dateStart, dateEnd, app.user) }}€</span>
            {#            <span class="price__byDay">/jour</span>#}
        </div>

        <a href="{{ path('rental__overview', {dateStart: dateStart|date('Y-m-d'), dateEnd: dateEnd|date('Y-m-d'), carDealer: 1, vehicle: vehicle.id}) }}">
            <button class='btn btn-primary btn-block'>Réserver</button>
        </a>
    </div>
</div>