<div class="searchToolComponent">
    <div class="container p-5">
        {{ form_start(form) }}
        <h1 class="text-center text-white">Louer votre véhicule éléctrique</h1>
        <div class="jumbotron mt-5 p-md-2 p-lg-5 bg-white">
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.location, null, {'label_attr': {'class': 'mb-0'}}) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text border-0 bg-ligthgrey">
                                    <ion-icon name="pin"></ion-icon>
                                </span>
                        </div>
                        {{ form_widget(form.location,  {'attr': {'class': 'custom-select bg-ligthgrey border-0 pl-0'}}) }}
                    </div>
                </div>

                <div class="col-md-2">
                    {{ form_label(form.start, null, {'label_attr': {'class': 'mb-0'}}) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text border-0 bg-ligthgrey"><ion-icon
                                        name="calendar"></ion-icon></span>
                        </div>
                        {{ form_widget(form.start,  {'attr': {'class': 'custom-select bg-ligthgrey js-datepicker border-0 pl-0', 'value': "now"|date("d/m/Y") }}) }}
                    </div>
                </div>

                <div class="col-md-2">
                    {{ form_label(form.end, null, {'label_attr': {'class': 'mb-0'}}) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text border-0 bg-ligthgrey"><ion-icon
                                        name="calendar"></ion-icon></span>
                        </div>
                        {{ form_widget(form.end,  {'attr': {'class': 'custom-select bg-ligthgrey js-datepicker border-0 pl-0', 'value': "now"|date_modify("+7 day")|date("d/m/Y") }}) }}
                    </div>
                </div>

                <div class="col-md-2">
                    {{ form_label(form.type, null, {'label_attr': {'class': 'mb-0'}}) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text border-0 bg-ligthgrey"><ion-icon
                                            name="car"></ion-icon></span>
                        </div>
                        {{ form_widget(form.type,  {'attr': {'class': 'custom-select bg-ligthgrey border-0 pl-0'}}) }}
                    </div>
                </div>

                <div class="col-md-2 searchTool__searchBtn">
                    {{ form_widget(form.submit,  {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>